// Main Page Banner

.banner {
  height:$banner_height;
  background: url(../img/car-2500px.jpg) no-repeat 0 55%;
  background-size: 100% auto;
  position: relative;
  box-sizing: border-box;

  .banner-filter, .slogan, .slogan-cont, .button {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .banner-filter {
    height:$banner_height;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.4);

  }
  .slogan {
    margin-top:50px;
    height: 60px;
    top:30%;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
  }
  .slogan-cont{
    top:50%;
    font-size: 1.4em;
  }
  .button {
    top:60%;
    text-transform: uppercase;
    a {
      padding-top: 15px;
      display: inline-block;
      height: 35px;
      width: 200px;
      background-color: #ca0500;
      border: 1px solid #ca0500;
      font-size: 0.93em;
    }
    a:hover {
      background-color: #8d0300;
    }
  }
}

//All pages Content

.content {
    margin-top:50px;
    line-height:1.5;
    h2 {
        font-size: 36px;
        line-height: 1.2;               
    }
    h2::after {
        margin: 20px 0;
        display: block;
        content: "";
        width: 40px;
        border-bottom: 2px solid #ca0500;
    }
    .quote {
        margin-bottom: 15px;
        font-size: 22px;
        font-style: italic;
        line-height: 1.2;
    }
    p {
        margin-bottom: 15px;
    }
}

// Main Page

.mainSlider {
    display: flex;
    flex-direction: row;
    margin-top:0;
    background: linear-gradient(to bottom, rgba(0,0,0, 1), rgba(0,0,0, 0.8));
    padding-left: 0;
    padding-right: 0;

    .left-bar, .right-bar{
        padding-top: 50px;
        padding-bottom: 35px;
        width: 40%;
    }
    .left-bar{
        padding-left: $pr_padding;
        padding-right: 14%;
        background: linear-gradient(93deg, #ffffff 85%, transparent 85.03%);
    }
    .right-bar {
        padding-left: 0;
        padding-right: $pr_padding;
    }
}

// Page About

$about_padding_lr:195px/1366px*100%;
.pageAbout{
    padding: 60px $about_padding_lr;
    box-sizing: border-box;
    img {
        width: 100%;
        height: auto;
    }
    .quoteForImg {
        margin: 20px auto;
        width: 70%;
        font-weight: bold;
    }
    .quoteForImg::before {
        margin: 20px -22%;
        display: block;
        content: "\201c";
        width: 144%;
        border-bottom: 1px solid #dedede;
        text-align: center;
        font-size: 60px;
    }
    .quoteForImg::after {
        margin: 20px -22%;
        display: block;
        content: "";
        width: 144%;
        border-bottom: 1px solid #dedede;
    }
}

// Page Contact

.pageContact {
  padding-top: 60px;
    strong {
        text-transform: uppercase;
    }
    .content {
        padding-right: 0;
        padding-left: 9%;
    }
    .leftText {
        width: 20%;
        float: left;
    }
    .map {
      margin-top: -40px;
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;

      iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
      }
    }

}